@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  /* --font-mono: var(--font-geist-mono); */
  --font-mono: var(--font-space-mono);
}

* {
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-space-mono), system-ui, sans-serif;
}

.pageWrapper {
  height: 100dvh;
  display: flex;
  place-content: center;
}

.controlWrapper {
  padding: 32px;
  border: 2px solid rgba(255 255 255 / 0.2);
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 64px;
  border-radius: 16px;
  background-color: black;
}

.pushButtonGroup {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

.lightSwitchGroup {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  padding-inline: 4px;
}

.dialGroup {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  margin-inline: -10px;
}

.toggleButtonGroup{
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}