.lightBulbWrapper {
    position: relative;
    height: 64px;
    width: 64px;
    background-color: black;
    border-radius: 50%;
    border: 2px solid rgba(255 255 255 / 0.2);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lightBulb {
    position: absolute;
    height: 55px;
    width: 55px;
    background-color: #ff4000;
    border-radius: 50%;
    filter: blur(8px);
    z-index: 0;
}

.pattern {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    mix-blend-mode: soft-light;
    /* background: repeating-linear-gradient(45deg,
            rgba(0 0 0 / 0.25),
            rgba(0 0 0 / 0.15) 6px,
            rgba(0 0 0 / 0.05) 12px,
            rgba(0 0 0 / 0.0) 16px),
            repeating-linear-gradient(-45deg,
            rgba(0 0 0 / 0.2),
            rgba(0 0 0 / 0.1) 8px,
            rgba(0 0 0 / 0.0) 16px); */
    background: repeating-radial-gradient(circle,
            rgba(0 0 0 / 0.15),
            rgba(0 0 0 / 0.10) 2px,
            rgba(0 0 0 / 0.0) 4px),
        repeating-linear-gradient(45deg,
            rgba(0 0 0 / 0.15),
            rgba(0 0 0 / 0.05) 4px,
            rgba(0 0 0 / 0.0) 8px),
        repeating-linear-gradient(-45deg,
            rgba(0 0 0 / 0.15),
            rgba(0 0 0 / 0.05) 4px,
            rgba(0 0 0 / 0.0) 8px);
}