.radialSliderWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.radialSliderWrapper .sliderValue {
    font-family: monospace;
    padding: 2px;
    border: 1px solid rgba(255 255 255 / 0.3);
    display: flex;
    flex-grow: 1;
    width: 50%;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: white;
    font-weight: bold;
}

.radialSlider {
    width: 96px;
    transform: rotate(135deg);
    user-select: none;
    cursor: pointer;
    margin-block-end: -16px;
    display: block;
}
.radialSlider svg {
    width: 100%;
    height: auto;
}

.radialSlider:active {
    cursor: grabbing;
}

.radialSlider .knob {
    stroke: white;
    stroke-opacity: 0.1;
}

.radialSlider .knob:focus {
    outline: none;
}

.radialSlider .knob:focus-visible {
    outline: 1px solid rgba(255 255 255 / 0.5);
    border-radius: 50%;
}

.ticks line {
    stroke: white;
    stroke-width: 2px;
    stroke-linecap: round;
}

.ticks line.activeTick,
line.pointer {
    stroke: #ff4000;
}